.react-chatbot-kit-chat-inner-container,
.react-chatbot-kit-chat-input-container {
    width: 400px;
}
.react-chatbot-kit-chat-inner-container{
    background-color: aliceblue;
}
.react-chatbot-kit-chat-bot-message-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.react-chatbot-kit-chat-bot-message {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}
.react-chatbot-kit-chat-header{
     background-color: "#0892D0";
     font-size: 16px;
}

.react-chatbot-kit-chat-input {
    outline: none;
    border: 1px solid gray;
}

.react-chatbot-kit-user-chat-message {
    margin-right: 10px;
    background-color: "#0892D0";
     font-size: 15px;
    font-weight: 600;
}