body{
  width: 85%;
  margin: auto;
  background-color: white;
}
.container{
  display:grid;
  grid-template-columns:70% 30%;
  height:800px;

}
.footerOption{
  font-weight:550;
  font-size:18px;
  cursor: pointer;
  color: white
}
.footerOption:hover{
   color:rgb(205,23,31);
   transition: 100ms;
}